
.contact {
    padding-top: 100px;
    padding-bottom: 200px;
    font-size: 20px;
}
.contact   img{
    border-radius: 10px;
    box-shadow: 30px 30px #555f5b;
    display: inline;
   

}


 h1{
    font-family: 'Domine', serif;
    text-shadow: 2px 2px 5px #555f5b;
    margin-top: 9%;
  
}
.contact .card:hover{
   box-shadow:  5px 10px 18px rgb(152, 153, 154);
}

body{
    background-image: url(foto/map.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-webkit-background-size:cover;
    background-size:cover;  
}
