body{
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  color:#003765 ;
  font-family: 'IBM Plex Mono', monospace;
 font-size: large;
 padding-left: 15px;
 padding-right: 15px; 
 display: inline-block;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  background-color: #adb5bd;
  border-radius: 6px;
  color: rgb(114, 158, 223);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  background-color:#adb5bd;
  border-radius: 6px;
}
.alllanguage img{
  float: left;
  margin-left: 8px;
  width: 50px;
}
/*carousel*/
.carousel img {
 object-fit: cover;
 background-size: cover;
 object-position: center;
 width: 100%;
}

/*zig zag grid*/
* {
  box-sizing:border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both
}
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}
.large-font {
  font-size: 48px;
}
.xlarge-font {
  font-size: 64px
}
.btn {
 background-color: #3f92c2;
 --bs-btn-border-color:none;
}
 .btn:hover{
  background-color: red;
 }
img {
  display: block;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
.features{
  background-image: url(foto/background2.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
 padding-top: 50px;
 padding-bottom: 50px;

}
.features img{
  opacity: 0.9;
}
.features .card{
  border:none;
  margin: auto;
}
.features .card:hover{
  box-shadow: 5px 10px 18px rgb(152, 153, 154);
}
.features i{
  font-size: 30px;
}
.testimonian{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
}
.testimonian h5{
  font-weight: 20px;
  margin-bottom: 20px;
}
.testimonian .lead{
  line-height: 2em;
  margin : 0px 100px 100px 100px;
}
.testimonian .carousel-inner{
  min-height: 220px;
}
.testimonian .carousel-indicators [data-bs-target]{
width: 60px;
height: 60px;
margin: 8px;

}
.testimonian .carousel-indicators [data-bs-target] img{
  width: 60px;
  height: 60px;
  }
  /*aboutus*/
.aboutUs {
  font-family: 'Domine', serif;
  
}
.aboutUs .carousel-caption{
  background-color: rgb(131, 154, 188,0.6);
  text-shadow: 3px 2px 5px #000000;
  
}
@media (max-width:767px) {
  .aboutUs img{
    display: none;
  }
  .info{
    margin-top: 20px;
  }
  .carousel-caption{ display:contents;
    color: #003765;
}
  .carousel-caption p{
    color: black;
    text-shadow: none;
  }
}
.info h1{
  padding-top: 40px;
  font-family: 'Domine', serif;
  text-shadow: 3px 2px 5px #71b0dd;
}
.info p{
  font-family: 'Domine', serif;
  font-size: 20px;
  padding-bottom: 20px;
}
.info .card{

  border: none;
  margin-bottom: 10px;
}
.info .card img{
  width: 50%;
}
.info .card:hover{
  box-shadow: 10px 10px 18px #555f5b;
}
/* service*/
.service{
  padding-top: 60px;
  background-image: url(foto/a.avif);
  background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
}
.service .our-service{
  background-color: rgba(167, 193, 235, 0.6);
  min-height: 500px;
}

.service .our-service h1 {
  padding-top: 300px;
  font-family: cursive;
  font-weight: bold;
}
.all-services img{
  padding-top: 30px;
  box-shadow: 15px 15px 10px rgb(77, 105, 181);
}
.all-services .vip img{
  padding-top: 30px;
  box-shadow:none;
}
.all-services h3{
  font-family: 'IBM Plex Mono';
}
.glow  {
  font-size: 30px;
  font-family: cursive;
  color: #1e538d;
  animation: glow 1s ease-in-out infinite alternate;
  margin-top: 10%;
}

@keyframes glow{
  from {
    text-shadow: 0 0 2px #fff, 0 0 2px #3f92c2, 0 0 2px #3f92c2, 0 0 2px #3f92c2, 0 0 2px #3f92c2, 0 0 2px #3f92c2, 0 0 2px #3f92c2;
  }
  
  to {
    text-shadow: 0 0 4px #fff, 0 0 6px #8ab2e0, 0 0 6px #8ab2e0, 0 0 6px #8ab2e0, 0 0 6px #8ab2e0, 0 0 6px #8ab2e0, 0 0 6px #8ab2e0;
  }
}
/*footer*/
.footer{
  background-color: #7790a5;
  color: #004ea7;
  padding-top: 20px;

}
.footer .media{
  overflow: hidden;
}
.footer .media li{
  float: left;
  padding: 75px 10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .media li:hover{
  opacity: 1;
}
.footer .copyright{
  padding: 10px 0;
  background-color: #9bb3b8;
  color: #000000;
}
.footer .copyright span{
  color:#004ea7;
  font-family: 'Times New Roman', Times, serif;
}

.job{
  padding-top: 60px;
  background-image: url(foto/ah2.jpeg);
  background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
}
.job .our-job h1 {
  padding-top: 300px;
  font-family: cursive;
  font-weight: bold;
  color: whitesmoke;
}
.all-jobs p{
 
  font-size: larger;
}
.all-jobs img{
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 15px 15px 10px rgb(77, 105, 181);
}
.all-jobs h3{
  padding-top: 60px;
  color:#71b0dd;
  font-family: cursive;
}
